div{
    padding: 5px;
    border: 1px solid red;
}

.page_main {
    display: flex;

}

.etch {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}