/* Diagnostic Div */
/* div{
   border: 1px solid red;
} */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
}

.page_main {
    display: flex;
    padding: 25px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(35, 35, 35);
}

.toolbar > * {
    margin: 5px;
    width: 100px;
}

.etch {
    display: grid;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin-left: 25px;
}